/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.primary-color {
  color: #10559c !important;
}

.bg-color {
  background-color: #10559c !important;
}

.cinza {
  background-color: #f7f7f7;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

#index-banner {
  background: linear-gradient(45deg, rgba(33, 150, 243, 0.6), rgba(33, 150, 243, 0.1)), url(../assets/img/intro-bg.jpg) center top no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

/* #video {
  padding-left: 20px; 
  padding-right: 20px;
  padding-bottom: 0;
  margin-bottom: 0px;
} */

/* #marcas {
  padding-top: 0;
}

#aplicativos {
  padding-bottom: 0px;
  margin-bottom: 0px;
} */

.input-field .prefix.active {
  color: #10559c !important;
}

/* label focus color */
.input-field input:focus + label {
  color: #10559c !important;
}

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #10559c !important;
  box-shadow: 0 1px 0 0 #10559c !important
}